/* **************************************************** */
/* ************** Generic page properties ************* */
/* **************************************************** */


/* ********************** */
/* Global page properties */
/* ********************** */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, arial, sans-serif;
	color: #444;
	margin: 0;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
.hidden {
	display: none;
}

a:link {text-decoration:none;color:#888;}
a:visited {text-decoration:none;color:#AAA;}
a:active {text-decoration:underline;}

/* ********************** */
/* Page header properties */
/* ********************** */
header.page-header {
	/*width: 44em;*/
	/*max-width: 100%;*/
	/*max-width: 44em;*/
	max-width: 50em;
	width: 50em;
	padding: 2em 0 0;
	margin: 0 auto;
	text-align: center;
}
header.page-header .inner {
	padding: 3em 2em 2.4em;
	background: #444;
	max-height: 178px;
	font-family: junction;
}
header.page-header .inner h1 {
	font-size: 2.5em;
	font-weight: 200;
	margin: 0;
	color: #fff;
	/*text-transform: uppercase;*/
	letter-spacing: 0.01em;
	line-height: 1;
}
header.page-header ul.nav {
	padding: 0em 0.5em 0;
}
header.page-header ul.nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	padding: 0 1em 0;
	color: #414141;

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
header.page-header ul.nav li:hover {
	color: #ff0000;
}
header.page-header .inner img {
    cursor: pointer;
}

header.page-header .inner .github-banner {
    display: block;
    position: relative;
    top: -127px;
    left: 619px;
}

/* ******************** */
/* Main page properties */
/* ******************** */
header.page-main {
	/*width: 44em;
	max-width: 44em;*/
	width: 50em;
	max-width: 50em;
	padding: 0 1em 0 1em;
	margin: 0 auto;
	text-align: center;
}
header.page-main .hero {
	padding: 1em 1em 1em 1em;
	margin: 1em 2em 2em 2em;
	background: rgb(240,240,240);
	text-align: left;
}
header.page-main .hero .title #back {
	font-size: 2em;
	position: relative;
	bottom: 1em;
}
header.page-main .hero .title #name {
	font-size: 3em;
	position: relative;
	bottom: 0.5em;
}
header.page-main .hero .title #icon {
	max-height: 5em;
}
header.page-main .hero .title #flair {
	position: relative;
    left: 150px;
    bottom: 10px;
}
header.page-main .hero video {
	width:36em;
	height:20em;
}
header.page-main .hero p {
	padding: 0 1em;
}

.footer {
	margin: 0 auto 20px auto;
	text-align: center;
	width: 63em;
	max-width: 63em;
	font-size: 0.8em;
}

.footer img {
	position: relative;
	top: 4px;
}

.footer iframe {
	position: relative;
	top: 5px;
	left: 5px;
}

@font-face {
	font-family: junction;
	src: url(/files/fonts/Junction-light.otf);
}

/* TODO:
 *
 * Write some @media resizing functions that will *convert* the website
 * into a mobile-site interface. For example, it should convert the grid
 * of cells into a list of cells, where the cells are 3x wide and x tall,
 * and a phone user can jsut scroll down through them all.
 *
 */

/* ************************************ */
/* Global page media calls for resizing */
/* ************************************ */
/*@media (max-width: 840px) {
	header.page-header {
		font-size: 12px;
    }
	header.page-main {
		font-size: 14px;
	}
}
@media (max-width: 540px) {
	header.page-header {
		font-size: 8px;
		padding-top: 0;
		width: 100%;
    }
	header.page-main {
		font-size: 10px;
	}
}*/
