<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=5">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Find a Founder</title>
		<link rel="stylesheet" href="css/core.css">
		<script src="core/js/modernizr.custom.js"></script>
	</head>
	<body>
		<header class="page-header">
			<ul class="nav">
				<li><a>Discover</a></li>
				<li><a>Network</a></li>
				<li><a>Share</a></li>
				<li><a>Login/Sign up</a></li>
			</ul>
			<div class="inner">
				<h1>Find a Founder</h1>
			</div>
			<header class="search">
				<input type="search" placeholder="Search..." required>
			</header>
		</header>
		<header class="page-main">
			<div class="hero">
				<p>This is where we're going to tell people how amazing this site is, tell them what you can do and stuff, and have some catchy one-line thing or some bullshit like that</p>
				<p>And this is where we'll do it all again, except with more puns and exclamation marks</p>
				<p>Ooh maybe we'll put a gay-ass video here</p>
			</div>
		</header>
    </body>
</html>
