<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=5">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Find a Founder</title>
		<link rel="stylesheet" href="css/core.css">
		<link rel="stylesheet" href="css/grid.css">
		<script src="core/js/modernizr.custom.js"></script>
	</head>
	<body>
		<header class="page-header">
			<ul class="nav">
				<li><a>Discover</a></li>
				<li><a>Network</a></li>
				<li><a>Share</a></li>
				<li><a>Login/Sign up</a></li>
			</ul>
			<div class="inner">
				<h1>Find a Founder</h1>
			</div>
			<header class="search">
				<input type="search" placeholder="Search..." required>
			</header>
		</header>
		<header class="grid-container">
			<ul class="grid effect" id="grid">
				<li>
					<img id="img" src="images/conor.png" />
					<a id="name">Conor Taylor</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Networking</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/liana.png" />
					<a id="name">Liana Tomescu</a>
					<a id="position">Computer Science and Business</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span>, <span id="match">Marketing</span> and <span id="match">Finance</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/daire.png" />
					<a id="name">Daire McCormack-George</a>
					<a id="position">Law</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Law</span> and <span id="match">Social Science</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/sean.png" />
					<a id="name">Sean Hargadon</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Gay Rights</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/phil.png" />
					<a id="name">Philip Clarke</a>
					<a id="position">Theoretical Physics</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span>, <span id="match">Maths</span> and <span id="match">Physics</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/conor.png" />
					<a id="name">Conor Taylor</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Networking</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/conor.png" />
					<a id="name">Conor Taylor</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Networking</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/liana.png" />
					<a id="name">Liana Tomescu</a>
					<a id="position">Computer Science and Business</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span>, <span id="match">Marketing</span> and <span id="match">Finance</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/conor.png" />
					<a id="name">Conor Taylor</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Networking</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/liana.png" />
					<a id="name">Liana Tomescu</a>
					<a id="position">Computer Science and Business</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span>, <span id="match">Marketing</span> and <span id="match">Finance</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/phil.png" />
					<a id="name">Philip Clarke</a>
					<a id="position">Theoretical Physics</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span>, <span id="match">Maths</span> and <span id="match">Physics</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
				<li>
					<img id="img" src="images/conor.png" />
					<a id="name">Conor Taylor</a>
					<a id="position">Computer Science</a>
					<a id="institution">Trinity College</a>
					<a id="interests">Interested in <span id="match">Software Development</span> and <span id="match">Networking</span> startups</a>
					<div class="connect">
						<img src="core/mail.png" />
						<img src="core/view.png" />
					</div>
				</li>
			</header>

			<script src="core/js/masonry.pkgd.min.js"></script>
			<script src="core/js/imagesloaded.js"></script>
			<script src="core/js/classie.js"></script>
			<script src="core/js/AnimOnScroll.js"></script>
			<script>
				new AnimOnScroll( document.getElementById('grid'), {
					minDuration : 0.4,
					maxDuration : 0.7,
					viewportFactor : 0.2
				});
			</script>
		</header>
    </body>
</html>
